---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.page-title {
				margin: 0 0 1em;
				font-size: 1.4em;
				border-bottom: 1px solid rgb(var(--gray-light));
				padding-bottom: 0.4em;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			ul li {
				border-bottom: 1px solid rgb(var(--gray-light));
				padding: 0.7em 0;
			}
			ul li:last-child {
				border-bottom: none;
			}
			ul li a.post-link {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				gap: 1em;
				text-decoration: none;
			}
			ul li a.post-link:hover .title {
				color: var(--accent);
				text-decoration: underline;
			}
			.title {
				font-size: 1em;
				font-weight: 600;
				color: rgb(var(--black));
				margin: 0;
				line-height: 1.4;
			}
			.date {
				font-size: 0.82em;
				color: rgb(var(--gray));
				white-space: nowrap;
				flex-shrink: 0;
			}
			/* Tags */
			.tags {
				display: flex;
				gap: 0.4em;
				flex-wrap: wrap;
				margin-top: 0.4em;
			}
			.tag {
				font-size: 0.72em;
				color: rgb(var(--gray));
				text-decoration: none;
				background: rgb(var(--gray-light));
				padding: 0.15em 0.5em;
				border-radius: 3px;
			}
			.tag:hover {
				color: var(--accent);
			}
			@media (max-width: 720px) {
				ul li a.post-link {
					flex-direction: column;
					gap: 0.2em;
				}
				.date {
					font-size: 0.78em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 class="page-title">Blog</h1>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`} class="post-link">
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
							{/* Remove tags rendering since 'tags' does not exist on post.data */}
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
